In [13]:
n1=eval(input("Enter Ramesh's basic salary:"))
try:
    gross1=n1+(n1*40/100)+(n1*20/100)
    print("Ramesh's gross salary is",{gross1})
except Exception as e:
    print(e)

Enter Ramesh's basic salary: 100

Ramesh's gross salary is {160.0}

In [94]:
n2=(input("Enter the distance between two cities(in KM)"))
try:
    n3=eval(n2)
    mt1=round(n3*1000)
    f1=round(n3*3.28)
    i1=round(f1*12)
    c1 =round(mt1*100)
    print(f"The distance in Meter: {mt1}m, in Feet: {f1}ft, in Inches: {i1}inch and in Centimeters: {c1}cm")
except Exception as e:
    print(e)

Enter the distance between two cities(in KM) 100

The distance in Meter: 100000m, in Feet: 328ft, in Inches: 3936inch and in Centimeters: 10000000cm

In [100]:
m1=input("Enter marks in English:")
m2=input("Enter marks in Telugu:")
m3=input("Enter marks in Mathematics:")
m4=input("Enter marks in Science:")
m5=input("Enter marks in Social:")

try:
    #result1 = "Entered marks are incorrect" if not all(0 <= x <= 100 for x in [m1,m2,m3,m4,m5]) else "ok"
    tot1=eval(m1)+eval(m2)+eval(m3)+eval(m4)+eval(m5)
    per1=round(tot1/5)
    print(f"total marks {tot1} with percentage {per1}%")
except Exception as e:
    print(e)

Enter marks in English: 30
Enter marks in Telugu: 40
Enter marks in Mathematics: 50
Enter marks in Science: 60
Enter marks in Social: 70

total marks 250 with percentage 50%

In [86]:
f1=input('Enter the temperature in Fahrenheit:')

try:
    c1=round((eval(f1)-32)*(5/9),2)
    print("Temperature in Centigrade:",c1)
except Exception as e:
    print(e)

Enter the temperature in Fahrenheit: a

name 'a' is not defined

In [108]:
l1=input('enter length of the Rectangle:')
b1=input('enter breadth of the Rectangle:')
r1=input('enter radius of the Circle:')
try:
    peri1=2*(eval(l1)+eval(b1))
    area1=eval(l1)*eval(b1)
    print('Permeter of the Rectangle is ',peri1, ' and area of the Rectange is ',area1)
    cir1=round((44/7)*eval(r1),2)
    area2=round((22/7)*eval(r1)*eval(r1),2)
    print('Circumference of the Circle is ',cir1, ' and area of the Circle is ',area2)
except Exception as e:
    print(e)

enter length of the Rectangle: 10
enter breadth of the Rectangle: 5
enter radius of the Circle: 5

Permeter of the Rectangle is  30  and area of the Rectange is  50
Circumference of the Circle is  31.43  and area of the Circle is  78.57

In [114]:
c1=input("Enter a value for field 'C':")
d1=input("Enter a value for field 'D':")
try:
    #c2=d1
    #d2=c1
    print(f"The entered values for C: {c1} and for D: {d1}")
    print(f"After interchange the entered values for C: {d1} and for D: {c1}")
except Exception as e:
    print(e)

Enter a value for field 'C': 111
Enter a value for field 'D': aaa

The entered values for C: 111 and for D: aaa
After interchange the entered values for C: aaa and for D: 111

In [130]:
n1=input("Enter a Number:")
try:
    n1=int(n1)
    r1=int(str(abs(n1))[::-1])
    print("Entered Number is: ",n1)
    print("After reversing the digits the Number is: ",r1)
except Exception as e:
    print(e)

Enter a Number: 123456

Entered Number is:  123456
After reversing the digits the Number is:  654321

In [156]:
n4=input("Enter four digit number: ")
try:
    if len(n4)==4 and n4.isdigit():
        fd1=int(n4[0])
        ld1=int(n4[-1])
        sum1=fd1+ld1
        print("The sum of the first and last digits of the entered number is: ",sum1)
    else:
        print("The entered number is not four digits")
except Exception as e:
    print(e)

Enter four digit number:  5123

The sum of the first and last digits of the entered number is:  8

In [218]:
tot1=80000
#tot1=int(input("Enter the village population: "))

mp=52/100
litp=48/100
litmp=35/100
try:
    men=round(tot1*(mp))
    women=round(tot1-men)
    litmw=round(tot1*litp)
    litm=round(tot1*litmp)
    litw=round(litmw-litm)
    ilmw=round(tot1*(1-litp))
    ilm=round(men-litm)
    ilw=round(women-litw)
    #print('Total number of men and women: ',tot1)
    #print('Total number of men: ',men)
    #print('Total number of women: ',women)
    #print('Total number of literate men and women: ',litmw)
    #print('Total number of literate men: ',litm)
    #print('Total number of literate women: ',litw)
    print('Total number of illiterate men and women: ',ilmw)
    print('Total number of illiterate men: ',ilm)
    print('Total number of illiterate women: ',ilw)
    
except Exception as e:
    print(e)

Total number of illiterate men and women:  41600
Total number of illiterate men:  13600
Total number of illiterate women:  28000

In [236]:
tot2=int(input("Enter amount to be withdrawn: "))
try:
    d100=tot2//100
    d50=(tot2-(d100*100))//50
    d10=(tot2-(d100*100)-(d50*50))//10
    print(f"Total number of currency notes 100 denomination is {d100}, 50 is {d50} and 10 is {d10}")
except Exception as e:
    print(e)

Enter amount to be withdrawn:  1590

Total number of currency notes 100 denomination is 15, 50 is 1 and 10 is 4