In [1]:
num1=100
num2=200
add=num1+num2
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and",200,'is',300)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 100 and 200 is 300

In [63]:
num1=100
num2=200
add=num1+num2
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and",200,'is',300)
print("the addition of",num1,"and", num2,'is',add)
print(f"the addition of {num1} and {num2} is {add}")

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300

In [69]:
name="Nagaraj"
age="45"
city="Rampally"
print("My name is Nagaraj of age 45 and stays at Rampally")
print("My name is",name,"of age",age,"and stays at",city)
print("My name is {} of age {} and stays at {}".format(name,age,city))
print(f"My name is {name} of age {age} and stays at {city}")

My name is Nagaraj of age 45 and stays at Rampally
My name is Nagaraj of age 45 and stays at Rampally
My name is Nagaraj of age 45 and stays at Rampally
My name is Nagaraj of age 45 and stays at Rampally

In [73]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("Average of {},{},{} is : {}".format(a,b,c,avg))
print("Average of",a,b,c,"is :",avg)
print(f"Average of {a},{b},{c} is : {avg}")

Average of 10,20,30 is : 20.0
Average of 10 20 30 is : 20.0
Average of 10,20,30 is : 20.0

**F string: Formatting string method**

In [55]:
a=10
b=20
c=30
add=a+b+c
diff=c-b-a
mul=a*b*c
div=a/b
avg=(a+b+c)/3
print("All Math functions of {},{},{} are".format(a,b,c),"Sum is",add,",Difference is",diff,", Multiplication is",mul,", Division is",div,", Average is",avg)
print(f"Add of {a},{b},{c} is : {add}")
print(f"Diff of {a},{b},{c} is : {diff}")
print(f"Multi of {a},{b},{c} is : {mul}")
print(f"Div of {a},{b},{c} is : {div}")
print(f"Avg of {a},{b},{c} is : {avg}")

All Math functions of 10,20,30 are Sum is 60 ,Difference is 0 , Multiplication is 6000 , Division is 0.5 , Average is 20.0
Add of 10,20,30 is : 60
Diff of 10,20,30 is : 0
Multi of 10,20,30 is : 6000
Div of 10,20,30 is : 0.5
Avg of 10,20,30 is : 20.0

In [107]:
a=20
b=20
c=30
add=a+b+c
diff=c-b-a
mul=a*b*c
div=a/b
avg=round((a+c)/3)
avg1=(a+c)/3
avg2=round((a+c)/3,2)
avg3=round((a+c)/3,3)
print(avg1)
print(round(avg1,5))
print(f"average of {a} and {c} is {avg}")
print(f"average of {a} and {c} is {round(avg1,7)}")
print(f"average of {a} and {c} is {avg2}")
print(f"average of {a} and {c} is {avg3}")

16.666666666666668
16.66667
average of 20 and 30 is 17
average of 20 and 30 is 16.6666667
average of 20 and 30 is 16.67
average of 20 and 30 is 16.667

In [85]:
round(10.555556,3)

10.556

In [109]:
print(10,end="===>")

10===>

In [113]:
print(10,end="===>")
print(20,end="this is end operation ")
print(30,end=" stop here")

10===>20this is end operation 30 stop here

In [115]:
print('My',end=" ")
print('name',end=" ")
print('is',end=" ")
print('Nag',end=" ")

My name is Nag

In [139]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [135]:
print(10,20,30,sep='==>')
#seperate operator

10==>20==>30

In [137]:
print('My','Name','Nagaraj',end=" ")
#end operator

My Name Nagaraj

In [153]:
for a in range(1, 10):
    print(a)

1
2
3
4
5
6
7
8
9