**Index**

In [11]:
#str1='hello how are you'
#n=len(str1)
str1[1]
for i in range (0,2):
    print(str1[1])

e
e

In [5]:
str1='hello how are you'
n=len(str1)
for i in range (0,n):
    print(str1[i])

h
e
l
l
o

h
o
w

a
r
e

y
o
u

In [15]:
str1='python'
n=len(str1)
for i in range(0,n,1):
    print(str1[i])

p
y
t
h
o
n

In [17]:
str1='python'
n=len(str1)
for i in range(0,-n,-1):
    print(str1[i])

p
n
o
h
t
y

In [19]:
str='python'
for i in range(0,6):
    print(f'the negative index of {str[i]} is {-(len(str)-i)}')

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [25]:
str2='abc'
n=len(str2)
for i in range(0,-n,-1):
    print(f'Negative index of {str2[i]} is {i}')

Negative index of a is 0
Negative index of c is -1
Negative index of b is -2

In [35]:
str3='Nagaraj'
n=len(str3)
for i in range(0,n,1):
    print(f'Positive index of {str3[i]} is {i+1}')

Positive index of N is 1
Positive index of a is 2
Positive index of g is 3
Positive index of a is 4
Positive index of r is 5
Positive index of a is 6
Positive index of j is 7

In [33]:
str4='Nagaraj'
n=len(str4)
for i in range(0,-n,-1):
    print(f'Negative index of {str4[i]} is {-n-i}')

Negative index of N is -7
Negative index of j is -6
Negative index of a is -5
Negative index of r is -4
Negative index of a is -3
Negative index of g is -2
Negative index of a is -1

In [57]:
str5='Nagaraj'
n=len(str5)
for i in range(-n,0,1):
    print(f'Negative index of {str5[i]} is {i}')

Negative index of N is -7
Negative index of a is -6
Negative index of g is -5
Negative index of a is -4
Negative index of r is -3
Negative index of a is -2
Negative index of j is -1

**When to use 'in' and When to use 'range' operator**

- 'in' operator directly access the elements
- 'range' operator access the elements using index or number
- any problem statement if you need numbers then go for range
- otherwise go for in operator directly

In [71]:
str1='python'
for i in str1:
    print(i)

p
y
t
h
o
n

In [66]:
str2='python'
for i in range(6):
    print(i,str2[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [ ]:
#wap to find the indexes of 'a' in a given string
#str1='ola ola ola'

#wap to find the sum of all indexes of 'a' in a given string
#str1='ola ola ola'

#wap to find the number of 'a' in a given string
#str1='ola ola ola'

#wap to find the vowels and its count in a given string
#str1='hai how are you'

#wap to find the vowels which are repeating then print only one time
#example: hello
#l is coming two times but we want to print only one time

In [96]:
#wap to find the indexes of 'a' in a given string
#str1='ola ola ola'

str1='ola ola ola'
n=len(str1)
for i in range(n):
    if str1[i]=='a':
        print(str1[i],i)

a 2
a 6
a 10

In [102]:
#wap to find the sum of all indexes of 'a' in a given string
#str1='ola ola ola'

str2='ola ola ola'
n=len(str2)
j=0
for i in range(n):
    if str2[i]=='a':
        j=j+i
        print(str2[i],i,j)

a 2 2
a 6 8
a 10 18

In [122]:
#wap to find the count of 'a' in a given string
#str1='ola ola ola'

str3='ola ola ola'
j=0
for i in range(len(str3)):
    if str3[i]=='a':
        j=j+1
        print(str3[i],i,j)

a 2 1
a 6 2
a 10 3

In [130]:
#wap to find the count of 'a' in a given string
#str1='ola ola ola'

str3='ola ola ola'
j=0
for i in str3:
    if i=='a':
        j=j+1
print(j)

3

In [134]:
#wap to find the vowels and its count in a given string
#str1='hai how are you'

str4='hai how are you'
j=0
for i in str4:
    if i in ['a','e','i','o','u']:
        j += 1
print(j)

7

In [146]:
#wap to find the vowels and its count in a given string
#str1='hai how are you'

str5='Nagaraju'
str6='aeiou'
j=0
for i in str5:
    if i in str6:
        j += 1
print(j)

4

In [154]:
#wap to find the vowels which are repeating then print only one time
#example: hello
#l is coming two times but we want to print only one time

str5='how are you'
str6='aeiou'
j=0
str7=''
for i in str5:
    if i in str6 and i not in str7:
        j += 1
        str7=str7+i
print(j)

4

**mutable-immutable**

- mutable means change
- immutable means cannot change
- we cannot change the elements using index operations

In [171]:
#immutable
str1='hello'
str1[2]='L'

TypeError: 'str' object does not support item assignment

In [169]:
#mutable
val1=[10,20,30]
val1[1]=200
val1

[10, 200, 30]