In [13]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

**zip operator**

-means combine

In [18]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i in zip(names, age):
    print(i)

('Ramesh', 20)
('Suresh', 25)
('Sathish', 30)

In [24]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i, j in zip(names, age):
    print(i,j)
    print(f'{i} age is {j}')

Ramesh 20
Ramesh age is 20
Suresh 25
Suresh age is 25
Sathish 30
Sathish age is 30

In [40]:
names=['Ramesh','Suresh']
age=[20,25,30]
for i,j in zip(names, age):
    print(i)
    print(f'{i} age is {j}')

Ramesh
Ramesh age is 20
Suresh
Suresh age is 25

In [46]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
[f"{i}, {j}" for i,j in zip(names,age) if j>20]

['Suresh, 25', 'Sathish, 30']

**Dictionary**

-names and age are together

-when both are together we can pair them

-we can do it using Dictionary

-Dictionary is called as **key-value** pair

-it represents with curly braces: **{key:value}**

In [51]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [53]:
d1={20:'Ramesh',25:'Suresh',30:'Sathish'}
d1

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [81]:
d1={'20':'Ramesh','25':'Suresh',30:'Sathish'}
d1

{'20': 'Ramesh', '25': 'Suresh', 30: 'Sathish'}

In [87]:
d5={'Ramesh':20,'Ramesh':25} #latest value will be displayed
d5

{'Ramesh': 25}

In [107]:
d5={'Ramesh':20,'Suresh':20} #Keys cannot be duplicate but values can be duplicate
d5

{'Ramesh': 20, 'Suresh': 20}

In [109]:
d5={'Ramesh':20,'Ramesh':20} #Dictinary doesnot allow duplicates
d5

{'Ramesh': 20}

In [111]:
d1={20:'Ramesh',25:'Ramesh',25:'Sathish'}
d1

{20: 'Ramesh', 25: 'Sathish'}

In [113]:
d8={20:'Ramesh',20:'Suresh'}
d8

{20: 'Suresh'}

In [119]:
d9={True:'true'}
d9

{True: 'true'}

In [121]:
d10={'Fruits':['Apple','Banana']}
d10

{'Fruits': ['Apple', 'Banana']}

In [125]:
d10={['Apple','Banana']:'Fruits'} #List cannot be key in Dictionary
d10

TypeError: unhashable type: 'list'

In [127]:
d11={'Fruits':('Apple','Banana')}
d11

{'Fruits': ('Apple', 'Banana')}

In [131]:
d12={('Apple','Banana'):'Fruits'} #tuple can be key in Dictionary
d12

{('Apple', 'Banana'): 'Fruits'}

**Keys cannot be Mutable**

-list as keys fails as list has a mutable behaviour

-tuple as keys works as tuple has immutable hehaviour

=Keys are very important in Dictionary

keys does not change so when we apply list it is failing

In [139]:
d12={{Apple','Banana'}:'Fruits'}
d12

SyntaxError: unterminated string literal (detected at line 1) (1366740853.py, line 1)