# List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
# solve all below by list comprehension topic
# a. Filter students who passed (marks >= 50)
# b. calculate grades for all studetns(A: 85+, B: 70-84, C:50-69, F:<50)
# c. Add 5 grace marks to students who failed (<50)
# d. Identify top 3 scorers

# e. Find average marks of the class

In [6]:
#List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
#a. Filter students who passed (marks >= 50)
l1=[45,76,89,53,67,90,82,49,33,99]
l2=[]
for i in l1:
    if i>= 50:
        l2.append(i)
l2

[76, 89, 53, 67, 90, 82, 99]

# index -> for loop -> if condition

In [75]:
#List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
#a. Filter students who passed (marks >= 50)
l1=[45,76,89,53,67,90,82,49,33,99]
[i for i in l1 if i>=50]

[76, 89, 53, 67, 90, 82, 99]

In [34]:
#List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
#b. calculate grades for all studetns(A: 85+, B: 70-84, C:50-69, F:<50)
l1=[45,76,89,53,67,90,82,49,33,99]
l2=[]
for i in l1:
    if i>=85:
        grade=i,'A'
    elif i>=70:
        grade=i,'B'
    elif i>= 50:
        grade=i,':C'
    else:
        grade=i,':F'
        
    l2.append(grade)

l2

[(45, ':F'),
 (76, 'B'),
 (89, 'A'),
 (53, ':C'),
 (67, ':C'),
 (90, 'A'),
 (82, 'B'),
 (49, ':F'),
 (33, ':F'),
 (99, 'A')]

In [81]:
#List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
#b. calculate grades for all studetns(A: 85+, B: 70-84, C:50-69, F:<50)
Marks=[45,76,89,53,67,90,82,49,33,99]

[f"Marks = {i} : A grade." if i >= 85
else f"Marks = {i} : B grade." if i >= 70
else f"Marks = {i} : C grade." if i >= 50
else f"Marks = {i} : F grade."
for i in Marks]

['Marks = 45 : F grade.',
 'Marks = 76 : B grade.',
 'Marks = 89 : A grade.',
 'Marks = 53 : C grade.',
 'Marks = 67 : C grade.',
 'Marks = 90 : A grade.',
 'Marks = 82 : B grade.',
 'Marks = 49 : F grade.',
 'Marks = 33 : F grade.',
 'Marks = 99 : A grade.']

In [87]:
#List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
#c. Add 5 grace marks to students who failed (<50)
l1=[45,76,89,53,67,90,82,49,33,99]
l3=[]
for i in l1:
    if i<50:
        i = i+5
        l3.append(i)
l3

[50, 54, 38]

In [91]:
#List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
#c. Add 5 grace marks to students who failed (<50)
l1=[45,76,89,53,67,90,82,49,33,99]
[i+5 for i in l1 if i<50]

[50, 54, 38]

In [93]:
#List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
#d. Identify top 3 scorers
l1=[45,76,89,53,67,90,82,49,33,99]
l4=[]
l1.sort(reverse=True)
print(l1)
for i in range(3):
    a=l1[i]
    l4.append(a)
l4

[99, 90, 89, 82, 76, 67, 53, 49, 45, 33]

[99, 90, 89]

In [105]:
#List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
#d. Identify top 3 scorers
l1=[45,76,89,53,67,90,82,49,33,99]
[(max_val:= max(l1), l1.remove(max_val))[0] for i in range(3)]

[99, 90, 89]

In [109]:
#List of Student marks in python, marks = [45,76,89,53,67,90,82,49,33,99]
#e Find average marks of the class
l1=[45,76,89,53,67,90,82,49,33,99]
summ=0
[summ:= summ+i for i in l1]
summ/len(l1)

68.3

In [31]:
#distance between two points
#find the distance between l2 from all points of l1
#find the maximum distance of all these distances
import math
l1=[[1,2],[4,5],[7,9]]
l2=[10,20]
a=[]
for i in l1:
            
    x=(l2[0]-ab)
    y=(l2[1]-j[1])
    a=math.pow(x,2)+math.pow(y,2)
    b=math.sqrt(a)
math.pow(x,2),math.pow(y,2),a,b

IndentationError: expected an indented block after 'for' statement on line 9 (820893933.py, line 10)

In [43]:
import math
l1=[10,20]
l2=[20,40]
math.sqrt(math.pow(l1[0]-l2[0],2)+math.pow(l1[1]-l2[1],2))

a=math.pow(l1[0]-l2[0],2)+math.pow(l1[1]-l2[1],2)

math.sqrt(a)

22.360679774997898

In [47]:
<img class="lnXdpd" alt="Google" height="92" src="/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" srcset="/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png 1x, /images/branding/googlelogo/2x/googlelogo_color_272x92dp.png 2x" width="272" data-csiid="JIGpZ9b8DpSg1e8Pj5HwmAY_2" data-atf="1">

SyntaxError: invalid syntax (1521863149.py, line 1)