-try-except

In [2]:
a=5
b=0
c=a/b
print(c)

ZeroDivisionError: division by zero

In [10]:
try:
    a=5
    b=0
    c=a/b
except:
    
    print('error in try block')
    print('zero division error')

error in try block
zero division error

In [33]:
try:
    a=5
    b=0
    c=a/b
except Exception as e:
    print(e)

division by zero

In [61]:
#syntax error
print(my)

NameError: name 'my' is not defined

In [59]:
#syntax error
try:
    print(my)
except Exception as e:
    print(e)

name 'my' is not defined

In [16]:
#module error
import maths

ModuleNotFoundError: No module named 'maths'

In [63]:
#module error
try:
    import maths
except Exception as e:
    print(e)

No module named 'maths'

In [18]:
#attribute error
import math
math.nag

AttributeError: module 'math' has no attribute 'nag'

In [65]:
#attribute error
try:
    import math
    math.nag
except Exception as e:
    print(e)

module 'math' has no attribute 'nag'

In [26]:
#name error
#print('my course name is DS')
pint('my topic name is python')

NameError: name 'pint' is not defined

In [67]:
#name error
#print('my course name is DS')
try:
    pint('my topic name is python')
except Exception as e:
    print(e)

name 'pint' is not defined

In [28]:
#type error
a='10'/'5'
print(a)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [69]:
#type error
try:
    a='10'/'5'
    print(a)
except Exception as e:
    print(e)

unsupported operand type(s) for /: 'str' and 'str'

In [77]:
#indentation error
print("Hello")
    print("World")

IndentationError: unexpected indent (2869784412.py, line 3)

In [83]:
#indentation error
try:
    print("Hello")
print("World")
except Exception as e:
    print(e)

SyntaxError: expected 'except' or 'finally' block (9969132.py, line 4)

In [47]:
#indentation error
a=5
b=0
c=a/b
print(c)

ZeroDivisionError: division by zero

In [43]:
try:
    import nag
except Exception as n:
    print(n)

No module named 'nag'

In [109]:
try:
    n1=eval(input('enter the number:'))
    if n1<=0:
        print(f"{n1} is not an even or odd number")
    elif n1%2==0:
        print(f"{n1} is an even number")
    else:
        print(f"{n1} is an odd number")
except Exception as e:
    print(e)

enter the number: Nag

name 'Nag' is not defined