In [5]:
def tax_pay():
    sal=eval(input('Enter Salary:'))
    tp=eval(input('Enter tax percentage:'))
    taxpay=sal*tp/100
    print(taxpay)

tax_pay()

Enter Salary: 1000
Enter tax percentage: 10

100.0

**For loop**

In [68]:
#**case 1: range(<stop>)**

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
for i in range(10):
    print(i+5,end='')

567891011121314

In [32]:
for i in range(10):
    print(i+5,end=' ')

5 6 7 8 9 10 11 12 13 14

In [34]:
for i in range(3):
    print(-i)

0
-1
-2

In [42]:
for i in range(5):
    print(i, end=' %^ ')

0 %^ 1 %^ 2 %^ 3 %^ 4 %^

In [50]:
for i in range(10):
    print(i-10,end=' ^ ')

-10 ^ -9 ^ -8 ^ -7 ^ -6 ^ -5 ^ -4 ^ -3 ^ -2 ^ -1 ^

In [60]:
for i in range(3):
    print('Good Morn')
    print('Good Night')
    print('I am Nagaraj')

Good Morn
Good Night
I am Nagaraj
Good Morn
Good Night
I am Nagaraj
Good Morn
Good Night
I am Nagaraj

**Case 2: range(start,stop)**

In [81]:
for i in range(11,21):
    #print(i,'Nag')
    print(i,end=' Nag ')

11 Nag 12 Nag 13 Nag 14 Nag 15 Nag 16 Nag 17 Nag 18 Nag 19 Nag 20 Nag

In [87]:
for i in range(5,11):
    print(f'Square of {i} is',i*i)

Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

In [105]:
for i in range(1,6):
    n1=eval(input("Give a number:"))
    print(f"Double of {n1} is {n1+n1}")
    print(f"Square of {n1} is {n1*n1}")
    print('')

Give a number: 1

Double of 1 is 2
Square of 1 is 1

Give a number: 2

Double of 2 is 4
Square of 2 is 4

Give a number: 8

Double of 8 is 16
Square of 8 is 64

Give a number: 10

Double of 10 is 20
Square of 10 is 100

Give a number: 1002

Double of 1002 is 2004
Square of 1002 is 1004004

In [111]:
def sq1():
    n2=eval(input('Enter a number:'))
    print(f'Square of {n2} is {n2*n2}')

for i in range(11,14):
    sq1()

Enter a number: 1

Square of 1 is 1

Enter a number: 5

Square of 5 is 25

Enter a number: 100

Square of 100 is 10000

**Case 3: range(start,stop,step)**

In [122]:
for i in range(5,100,10):
    print(i)

5
15
25
35
45
55
65
75
85
95

In [126]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [152]:
for i in range(10,-10,-2):
    print(i)

10
8
6
4
2
0
-2
-4
-6
-8

In [146]:
for i in range(100,-100,-50):
    print(i)

100
50
0
-50

In [148]:
for i in range(1,11,1):
    print(i, end=' x ')
    print(i, end= ' = ')
    print(i*i)

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [150]:
for i in range(1,11,1):
    print(i, end=' + ')
    print(i, end= ' = ')
    print(i+i)

1 + 1 = 2
2 + 2 = 4
3 + 3 = 6
4 + 4 = 8
5 + 5 = 10
6 + 6 = 12
7 + 7 = 14
8 + 8 = 16
9 + 9 = 18
10 + 10 = 20

In [160]:
# Multiple Table

j=eval(input('Enter a number for multiple table:'))
for i in range(1,11,1):
    print(j, end=' x ')
    print(i, end= ' = ')
    print(j*i)

Enter a number for multiple table: 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
# All divisors
j=eval(input("Enter a number to find all the Divisors:"))
for i in range(1,j+1):
    if j%i==0:
        print(i)

Enter a number to find all the Divisors: 75

1
3
5
15
25
75

In [13]:
num=eval(input('Display multiplication table of :'))
for i in range(1,11):
        print(f"{num} X {i} = {num*i}")

Display multiplication table of : 10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100