In [8]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
key1=d.keys()
key1

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [3]:
type(key1)

dict_keys

**Covert dictonary to list**

- in order to convert dictionary to list

- first we need to seperate keys and values

- then apply list type casting

In [17]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
key1=d.keys()
key1
a=list(key1)
a

['Ramesh', 'Suresh', 'Sathish']

In [21]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
Val1=d.values()
Val1
b=list(Val1)
b

[20, 25, 30]

**Procedure to convert**

list ==> string using join

string ===> list using split

list ===> dict using zip

dict ===> list using typecasting

In [23]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
item1=d.items()
item1
c=list(item1)
c

[('Ramesh', 20), ('Suresh', 25), ('Sathish', 30)]

In [27]:
type(c)

list

In [37]:
a.count('Ramesh')

1

In [41]:
b.count(20)

1

In [47]:
#input1='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#output = {'Firstname':['virat','rohit','ms'],
#            'Secondname':['kohli','sharma','dhoni'],
#            'Cname':['rcb','mi','csk']}


#idea : first convert string to list
#from list extract 3 lists -> fname, sname, cname
#from  lists create dictionary

In [51]:
input1='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input1.split(';')
l1

['virat.kohli@rcb.com', 'rohit.sharma@mi.com', 'ms.dhoni@csk.com']

In [101]:
split1=l1[0].split('.')[0]
fname=[]
fname.append(split1)
fname

['virat']

In [77]:
fn2=l1[0].split('.')[1]
sn=fn2.split('@')[0]
sname=[]
sname.append(sn)
sname

['kohli']

In [89]:
fn3=l1[0].split('.')[2]
fn3=sn=fn2.split('@')[1]
cname=[]
cname.append(fn3)
cname

['rcb']

In [131]:
input1='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input1.split(';')
fname,sname,cname=[],[],[]
d={}
for i in l1:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dot+1)
    at_the_rate=i.index('@')
    fname.append(i[:first_dot])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])
    
d['Fname']=fname
d['Sname']=sname
d['Cname']=cname
l1,d

(['virat.kohli@rcb.com', 'rohit.sharma@mi.com', 'ms.dhoni@csk.com'],
 {'Fname': ['virat', 'rohit', 'ms'],
  'Sname': ['kohli', 'sharma', 'dhoni'],
  'Cname': ['rcb', 'mi', 'csk']})

In [155]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [177]:
d1={'abc':1,'def':2}
d1.pop('def')
d1

{'abc': 1}

In [187]:
# pop is used in dictionary, similar analogy remove is used in list
# pop item in dictionary, similar analogy pop in list

In [189]:
d2={'abc':11,'def':12,'xyz':13}
d2.popitem()
d2

{'abc': 11, 'def': 12}

In [203]:
d2.get('def')

12

In [205]:
d2['abc']

11

**update**

- update is similar analogy **list extend**
- take two dictionarys and apply update method

In [218]:
d3={'abc':11,'def':12}
d4={'pqr':13,'xyz':14}
d3.update(d4)
d3

{'abc': 11, 'def': 12, 'pqr': 13, 'xyz': 14}

In [226]:
l3=['abc',12]
l4=['pqr',14]
l3.extend(l4)
l3

['abc', 12, 'pqr', 14]

**get**

- get is used in dict
- index is used in list

**set default**

- suppose an already existed dictionary available

- we can update the dictionary with new key:value pair

- similar analogy like append in list

In [236]:
d5={'abc':11,'def':12,'xyz':13}
d5.setdefault('Nag')
d5

{'abc': 11, 'def': 12, 'xyz': 13, 'Nag': None}

In [240]:
d6={'abc':11,'def':12,'xyz':13}
d6.setdefault('Nag',14)
d6

{'abc': 11, 'def': 12, 'xyz': 13, 'Nag': 14}

**fromkeys**

- create a dictionary with different keys but the same values

- fromkeys will take an argument iterable

- try to provide an iterator i.e., string, list, tuple

In [255]:
d7={}
names=['Ramesh','Suresh','Sathish']
d7.fromkeys(names,'Python')

{'Ramesh': 'Python', 'Suresh': 'Python', 'Sathish': 'Python'}

In [257]:
d7={}
names=['Ramesh','Suresh','Sathish']
d7.fromkeys(names,100)

{'Ramesh': 100, 'Suresh': 100, 'Sathish': 100}

In [263]:
d7={}
names=['Ramesh','Suresh','Sathish']
d7.fromkeys(names,{'IT'})

{'Ramesh': {'IT'}, 'Suresh': {'IT'}, 'Sathish': {'IT'}}

In [267]:
d7={}
names=['Ramesh','Suresh','Sathish']
d7.fromkeys(names,[100])

{'Ramesh': [100], 'Suresh': [100], 'Sathish': [100]}

In [273]:
d7={}
names=['Ramesh','Suresh','Sathish']
d7.fromkeys(names,('Nag'))

{'Ramesh': 'Nag', 'Suresh': 'Nag', 'Sathish': 'Nag'}

In [277]:
d8={}
d8.fromkey('Nag')

AttributeError: 'dict' object has no attribute 'fromkey'